@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0e2e;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #171c4d;
  border-radius: 4px;
}
